<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>OKLOG</title>

    <link rel="icon" href="favicon.png" type="image/png">
    <link rel="stylesheet" href="css/bulma.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="js/vue.min.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/parseplus.min.js"></script>
</head>
<body>
<noscript>JavaScript fails to load.</noscript>

<div id="app">
    <header>
        <nav class="navbar is-light is-mobile" role="navigation" aria-label="main navigation">
            <div class="navbar-start">
                <div class="navbar-brand">
                    <a class="navbar-item">
                        <img src="img/oklog.png">
                    </a>
                </div>
                <a class="navbar-item" @click="setStream">
                    Stream
                </a>
                <a class="navbar-item" @click="setQuery">
                    Query
                </a>
            </div>
            <div class="navbar-end">
                <a class="navbar-item">
                    Settings
                </a>
            </div>
        </nav>

        <div class="columns is-variable is-1 fields">
            <div class="column">
                <div class="field has-addons">
                    <div class="control is-expanded" :class="{'is-loading': isLoading}">
                        <input class="input" type="text" placeholder="Query" v-model="q">
                    </div>
                    <div class="control">
                        <a class="button is-info" @click="doRequest">
                            Search
                        </a>
                        <label class="checkbox">
                            <input type="checkbox" v-model="regex">
                            regex
                        </label>
                    </div>

                </div>
            </div>
            <div v-if="action == 'query'" class="column is-5">
                <div class="field is-grouped is-grouped-centered">
                    <label class="label ">From:</label>
                    <div class="control">
                        <div class="select">
                            <select name="from" v-model="from">
                                <option value="5 minutes">5 min</option>
                                <option value="15 minutes">15 min</option>
                                <option value="30 minutes">30 min</option>
                                <option value="1 hour">1 hrs</option>
                                <option value="6 hours">6 hrs</option>
                                <option value="12 hours">12 hrs</option>
                                <option value="1 day">1 days</option>
                                <option value="3 days">3 days</option>
                                <option value="7 days">7 days</option>
                                <option value="at">at</option>
                            </select>
                        </div>
                        <div class="control" v-if="from==='at'">
                            <input class="input" type="text" placeholder="From" v-model="fromAt">
                        </div>
                    </div>

                    <label class="label">To:</label>
                    <div class="control">
                        <div class="select">
                            <select name="to" v-model="to">
                                <option value="now">now</option>
                                <option value="5 minutes">5 min</option>
                                <option value="15 minutes">15 min</option>
                                <option value="30 minutes">30 min</option>
                                <option value="1 hour">1 hrs</option>
                                <option value="6 hours">6 hrs</option>
                                <option value="12 hours">12 hrs</option>
                                <option value="1 day">1 days</option>
                                <option value="3 days">3 days</option>
                                <option value="7 days">7 days</option>
                                <option value="at">at</option>
                            </select>
                        </div>
                        <div class="control" v-if="to==='at'">
                            <input class="input" type="text" placeholder="To" v-model="toAt">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <table v-if="lines.length > 0" class="table is-striped">
            <tbody>
            <tr v-for="l in lines">
                <td><strong>{{ moment(l.time).format() }}:</strong> <pre>{{ l.text }}</pre></td>
            </tr>
            </tbody>
        </table>
    </main>
</div>
<script src="js/app.js"></script>
</body>
</html>
